<html>
  <head>
    <title>Basic Practicals of Angular JS</title>
  </head>
  <body style="text-align: center; background-color: rgb(235, 235, 235);">
      <h2 style="color: crimson;">Introduction To expressions</h2>
      <div ng-app=''>
        <p>{{ name }} are used to bind app data to HTML</p>
      </div>

      <p> Sorting Algorithms : </p>
      <ul>
        <li>{{sorts.one}}</li>
        <li>{{sorts.two}}</li>
        <li>{{sorts.three}}</li>
      </ul>
    </body>
</html>
<app-home></app-home>
<app-about-us></app-about-us>