<!-- <html>
    <style>
        .row {
            content: "";
            display: table;
        }
        .column {
            content: "";
            display: table;
        }
    </style>

    <script>
        var app = angular.module('MyApp',[]);
        app.controller('MyController', function($scope)){
            $scope.name = "Prijitha Ezhava";
            $scope.check = "";
            $scope.choice ="";
            $scope.num="";
            $scope.mail="";
            $scope.c = function(){
                $scope.choice = true;
            }
        }
    </script>
    <body ng-app="MyApp" ng-controller = "MyController">
         <h3>NgModelDemo</h3>
         <div class="row">
            <div class="column">
                Name : <input type="text" ng-model="name"><pre> {{name}} </pre>
                Checkbox : <input type="checkbox" ng-model="check"><pre> {{check}} </pre>
                Radio : <input type="radio" ng-model="choice"><pre> {{choice}} </pre>
                Number : <input type="number" ng-model="num"><pre> {{num}} </pre>
                Email : <input type="email" ng-model="mail"><pre> {{mail}} </pre>

            </div>
         </div>

    </body>
</html> -->